@media (min-width:400px){
    body{
        background-image: linear-gradient(to right, #ff839d, #f50b9a);
        /* background: green; */
    }
}
@media (min-width:600px){
    body{
        background-image: linear-gradient(to right, #efbad3, #a254f2);
        /* background: green; */
    }
}
@media (min-width:800px){
    body{
        background-image: linear-gradient(to right, #d0faea, #34ebe9);
        /* background: green; */
    }
}
@media (min-width:1000px){
    body{
        background-image: linear-gradient(to right, #FEC180, #FF8993);
        /* background: green; */
    }
}
.text{
    font-family: sans-serif;
    text-align: center;
}
.textArea{
    margin-top: 20%;
}